.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #5d42c7;
  flex-wrap: wrap;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.navbar__menu{
  display: flex;
}
.navbar__menu-link{
  display: block;
  color: white;
  padding: 1rem;
  text-decoration: none;
  transition: all 100ms ease-in;
}
.navbar__menu-link:hover{
  color: chocolate;
}
.navbar__user{
  display: flex;
  padding: 1rem;
  color: white;
  text-align: center;
  align-items: center;
}
.navbar__username{
  display: block;
}
.navbar__user-image{
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}
.navbar__btn{
  color: white;
  background-color: #5d42c7;
  border:none;
  width: 4rem;
  height: 2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
